---
import Image from "astro/components/Image.astro";
import Badge from "./badge.astro";
import GuanacoRental from "../images/guanaco-rental.webp";
import FeigLogistica from "../images/feig-logistica.webp";
import AlalaCampo from "../images/alala-campo.webp";
import { Icon } from "astro-icon/components";
import Section from "./section/section.astro";
import SectionTitle from "./section/section-title.astro";
import Link from "./link.astro";

const works = [
  {
    name: "Guanaco Rental",
    type: "Rental App",
    url: "https://www.guanacorental.shop/",
    image: GuanacoRental,
    stack: ["Nextjs", "Shadcn/ui", "Tailwind", "tRPC", "Prisma", "PostgresSQL"],
  },
  {
    name: "FEIG Grupo Logistico",
    type: "Landing Page",
    url: "https://www.feiglogistica.com.ar/",
    image: FeigLogistica,
    stack: ["Astro.js", "React", "Tailwind"],
  },
  {
    name: "Alala Campo",
    type: "Landing Page",
    url: "https://www.alalacampo.com/",
    image: AlalaCampo,
    stack: ["Astro.js", "React", "Tailwind"],
  },
];
---

<Section>
  <SectionTitle>FREELANCE</SectionTitle>

  <div class="grid gap-36 lg:gap-20 mt-[5rem] lg:mt-0]">
    {
      works.map((work) => (
        <article class="grid gap-4 p-8 rounded-lg">
          <div class="absolute w-full h-[75%] bottom-0 left-0 rounded-lg bg-[rgb(255,255,255)] opacity-[2%]" />
          <div class="absolute w-full h-[75%] bottom-0 left-0 border border-border-white rounded-lg " />

          <div class="w-full lg:pr-10">
            <div class="lg:w-[500px] w-[90%] mx-auto lg:mx-0 h-[400px] lg:h-[300px] lg:ml-auto ">
              <Image
                src={work.image}
                alt="Alala Campo freelance work"
                width="800"
                height="800"
                class="w-full h-full object-cover object-top origin-center rounded-md lg:-rotate-2 hover:scale-105 hover:rotate-0 ease-in-out duration-300"
              />
            </div>
          </div>

          <div class="pt-14 lg:pt-0">
            <div class="flex items-end gap-2">
              <p class="font-title text-[3rem] lg:text-[2rem] font-semibold reveal-text leading-none">
                {work.name}
              </p>
              <Link href={work.url}>
                <Icon
                  name="external-link"
                  class="size-10 lg:size-5 text-white"
                />
              </Link>
            </div>

            <div class="grid lg:flex lg:justify-between lg:items-baseline pt-2">
              <div class="flex gap-4 items-center text-[2rem] lg:text-[1rem] flex-wrap pt-14 lg:pt-4">
                {work.stack.map((stack) => (
                  <Badge class="text-opacity-white">{stack}</Badge>
                ))}
              </div>

              <div class="flex justify-end">
                <p class="text-[1.6rem] text-opacity-white lg:text-white lg:text-[1rem]">
                  {work.type}
                </p>
              </div>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</Section>
